@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 300;
  background-color: #333;
  color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  min-height: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: #f4f4f4;
}

form {
  display: flex;
  flex-direction: column;
}

.grade-entry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 30%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #666;
  color: #f4f4f4;
}

input[type="number"]::placeholder {
  color: #bbb;
}

button {
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#averageDisplay {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  color: #f4f4f4;
}

#setsMenu {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #666;
  color: #f4f4f4;
  border: 1px solid #555;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-button {
  cursor: pointer;
}

.hamburger-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.hamburger-content button,
.hamburger-content select {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.hamburger-content button:hover,
.hamburger-content select:hover {
  background-color: #555;
}

.hamburger-menu:hover .hamburger-content {
  display: block;
}

@media (max-width: 600px) {
  .container {
    margin: 20px;
  }
}
